

$back-color:rgba(50,50,100,0.9);
$dark-color:#0d9db0;
$light-color:#05bbd4;
$white-color:#fff;
$gray-color:rgb(191,185,185);
$purple-color:rgb(110, 27, 110);
$lighter-color:rgba(129, 219, 235, 0.6);
$darker-color:rgb(187, 179, 187);


$font-sans-serif:sans-serif;
$font-CourierNew:'Courier New', Courier, monospace;
$border-radius:15px;
$img-opacity:0.7;